@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}


@keyframes orbitWrap {
  0% {
    transform: translateX(-60vw) scale(1.2) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  40% {
    transform: translateX(0vw) scale(0.7) rotate(144deg);
    opacity: 0.4;
  }
  70% {
    transform: translateX(60vw) scale(1.2) rotate(288deg);
    opacity: 0.3;
  }
  80% {
    transform: translateX(70vw) scale(1.2) rotate(324deg); /* keep going right */
    opacity: 0;
  }
  100% {
    transform: translateX(0vw) scale(1.2) rotate(360deg); 
    opacity: 0;
  }
}


.space-orb {
  position: absolute;
  top: 40%;             /* adjust as needed */
  left: 50%;
  width: 16rem;         
  height: 16rem;
  background-color: #1d4ed8;
  border-radius: 9999px;
  filter: blur(100px);
  animation: orbitWrap 10s linear infinite;
}
